



@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/*Utilities*/
:root{
    --primary-color:#232323;
    --white-color: #fff;
    --primary-font:'Libre Boskerville' , serif;
    --secondary-font:"Open sans", sans-serif; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:var(--primary-color);
}
h1,h2,h3{
    font-family: 'Libre Boskerville' , serif;
}
a{
    text-decoration: none;
    color:var(--primary-color);
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 15px;
}
ul li{
    list-style: none;
}
.wrapper{
   max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
    }
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.wrapper2{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    gap: 40px;
}
img{
    width: 100%;
}

/*Header*/
header{
    background-color: var(--white-color);
    height: 100px;
    width: 100%;
    box-shadow: 1px 13px 40px -11px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 18px 50px -11px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 18px 50px -11px rgba(0,0,0,0.48);
    position: fixed;

}
header .flex{
justify-content: space-between;
}
nav ul li{
    padding: 0px 10px;
}
nav ul li a{
padding: 0px 10px;
}
nav ul li a:hover{
border-bottom: 1px solid var(--primary-color);
}
.hero{
    height: 100vh;
}
.hero .flex{
    flex-direction: column;
}
.hero .flex h1{
    font-size: 60px;
    margin-bottom: 30px;
} 
.hero .flex p{
    margin-bottom: 30px 0px;
    font-size: 25px;
    font-family: var(--secondary-font);
}

.text{
    margin-top: 25px;
}
.text h2{
    font-size: 25px;
}
.text p{
    font-size: 18px;
}
.text h2 , .text p{
 margin-bottom: 15px;
}
.text p , .text span{
    color: rgb(189,189,189)
}

.cta{
    background-color: rgb(206, 188, 202);
    padding: 100px 0px;
    margin-top: 50px;
}
.cta .grid{
    align-items: center;
}
.cta .grid h2 .cta, .grid p{
margin-bottom: 50px;
color: #232323;
}
.primary-btn{
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px 40px;
}
.primary-btn :hover{
    background-color: #555454;
}

main.flex{
    flex-direction: column;
    margin-top: 50px;
    flex-wrap: wrap;
}
main .images{
    margin: 30px;
    flex-wrap: wrap;
    
}
.images img{
    margin: 10px;
    width: 250px;
}


footer{
    background-color: rgb(206, 188, 202);
    padding: 100px 0px;
    width: 100%;
}
footer .flex , .form{
  flex-direction: column;
}
footer h2{
 margin: 40px 0px;
}
.form input{
    width: 350px;
    padding: 10px 10px;
    font-size: 20px;
    outline: none;
    border: none;
    margin-bottom: 30px;
}
